/*
    https://antton-dev.github.io/ 
*/
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.tooltips::after {
  content: '';
}

.tooltips:hover::after {
  content: attr(data-level);
  position: absolute;
  margin-top: 40px;
  margin-left: -120px;
  width: 80px;
  border-radius: 3px;
  padding: 7px;
  color: #fff;
  text-align: center;
  background-color: #2e2727;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.modal::before,
.modal::after {
  content: '';
}

.modal:active::after {
  content: "salut les gens !!!!!!!!!!!!!!!";
}

body {
  scroll-behavior: smooth;
  font-family: "Mukta", sans-serif;
  font-size: 17px;
}

.important {
  color: #E62F2C;
  font-size: 1.5em;
  line-height: 40px;
  margin: 20px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 30px;
}

header {
  position: fixed;
  width: 100%;
  background-color: #25E662;
  height: 60px;
  -webkit-box-shadow: 0px 2px 5px #949494;
          box-shadow: 0px 2px 5px #949494;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
}

header h1 {
  font-size: 1.5em;
}

header li {
  display: inline;
}

header li a {
  padding: 20px 5px;
}

header li + li {
  margin-left: 20px;
}

section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 80px;
  margin-top: 20px;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .container {
  width: 60vw;
}

section .container h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.competences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0px;
}

.competences div {
  margin-left: 20px;
  margin-top: 20px;
  height: 20vh;
  width: 45%;
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #6aff99c4;
  border-radius: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow .2s ease;
  transition: -webkit-box-shadow .2s ease;
  transition: box-shadow .2s ease;
  transition: box-shadow .2s ease, -webkit-box-shadow .2s ease;
}

.competences div:hover {
  -webkit-box-shadow: 3px 5px 10px #5e5e5e6e;
          box-shadow: 3px 5px 10px #5e5e5e6e;
}

.competences div ul li {
  display: inline;
}

.competences div:nth-child(1) ul li img {
  width: 30px;
  height: auto;
}

.competences div:nth-child(2) ul li svg {
  width: 22px;
  height: auto;
}

.competences div:nth-child(2) ul li:last-child g {
  fill: #5c5c5c;
}

.competences div:nth-child(3) ul li img {
  width: 25px;
  height: auto;
}

.competences div:nth-child(4) ul li svg {
  width: 25px;
  height: auto;
}

.competences div:nth-child(4) ul li:nth-child(4) g, .competences div:nth-child(4) ul li:nth-child(5) g {
  fill: #5c5c5c;
}

.competences div:nth-child(5) ul li svg {
  width: 25px;
  height: auto;
}

.competences div:nth-child(5) ul li:last-child path {
  fill: #5c5c5c;
}

.competences div:nth-child(6) ul li svg {
  width: 30px;
  height: auto;
}

.competences div:nth-child(6) ul li:nth-child(2) path, .competences div:nth-child(6) ul li:nth-child(3) path, .competences div:nth-child(6) ul li:nth-child(4) path, .competences div:nth-child(6) ul li:nth-child(5) path {
  fill: #5c5c5c;
}

footer {
  text-align: center;
  background: #dbdada9c;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  -webkit-box-shadow: 0px -1px 4px #949494;
          box-shadow: 0px -1px 4px #949494;
}

@media screen and (max-width: 670px) {
  .competences div {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */